@import '/src/scss/variables/variables';
@import '/src/scss/variables/font-size';
@import '/src/scss/mixins/mixin';
@import '/src/scss/mixins/media';

.newsBlock {
  @include flexbox(column, center, center, none);
  margin-top: 6rem;
  max-width: 1300px;
  width: calc(100vw - 2rem);

  &__header {
  }

  &__text {
    margin-top: 3rem;
    color: $black;
    font-size: $font-size-m;
    font-weight: 500;
  }

  &__carouselWrapper {
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include bigMobile {
      max-width: 320px;
    }
  }

  &__items {
    @include flexbox(row, flex-start, stretch, 8rem);
    transition: $transition-duration;
    @include tablet {
      gap: 4rem;
    }
    @include mobile {
      gap: 2.5rem;
    }
  }

  &__controls {
    margin: 4.8rem 0 0 auto;
    @include flexbox(row, flex-start, center, 2rem);
    @include tablet {
      margin: 3rem 0 0 0;
    }
  }
  &__button {
    border-radius: 50%;
    &:disabled {
      border: 1px solid rgb(0, 60, 255);
      background: $white; // Белый фон для кнопки
      cursor: not-allowed;
    }
  }

  &__svgDisabled {
    filter: brightness(0); // Чёрная SVG
  }
}
